{% extends 'base.html.twig' %}
{% form_theme form 'form/_form_errors.html.twig' %}

{% block title %}Analyser mon adresse email - Data Breach Checker{% endblock %}

{% block emailContent %}
    {{ form_start(form, { 'attr' : { 'class' : 'form-detail', 'novalidate' : 'novalidate'}}) }}
    <div class="form-row">
        <label class="form-row-inner">
            {{ form_widget(form.email, { 'attr' : { 'class' : 'input-text'}}) }}
            <span class="label">Adresse email</span>
            <span class="border"></span>
            {{ form_errors(form.email) }}
        </label>
    </div>
    <div class="form-row-last">
        <input type="submit" name="check_email" class="register" value="Vérifier">
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block scanEmailResult %}
    {% if response.statusCode|default and response.statusCode == 200 %}
        <div class="row mb-3">
            <div class="col-12">
                <div class="alert alert-warning d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-3 icon-message" role="img" aria-label="Warning:">
                        <use xlink:href="#exclamation-triangle-fill"></use>
                    </svg>
                    <div class="text-dark scan-alert">
                        {{ response.info }}
                    </div>
                </div>
            </div>
        </div>
        <div class='row mb-3 justify-content-around'>
            <div class='col-1 text-center fs-5 logo'>Logo</div>
            <div class='col-3 text-center fs-5 company'>Société</div>
            <div class='col-2 text-center fs-5 breach-date'>Publié le</div>
            <div class='col-6 fs-5 stolen-data'>Données compromises</div>
        </div>
        {% for resp in response.message %}
            <div class='row mb-3 justify-content-around'>
                <div class='col-1 g-1 align-self-center text-center logo'>
                    <img class='pwnLogo large mx-auto' src="{{ resp.LogoPath }}" alt=''>
                </div>
                <div class='col-3 align-self-center text-center company'>
                    {{ resp.Title ~ ' (' ~ resp.Domain ~ ')' }}
                </div>
                <div class='col-2 align-self-center text-center breach-date'>
                    {{ resp.BreachDate }}
                </div>
                <div class='col-6 align-self-center stolen-data'>
                    {% for stolenData in resp.DataClasses %}
                        <span>{{ stolenData ~ ' |' }}</span>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% elseif response.statusCode|default and response.statusCode == 404 %}
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-3 icon-message" role="img" aria-label="Success:">
                <use xlink:href="#check-circle-fill"></use>
            </svg>
            <div class="text-dark scan-success">
                Bonne nouvelle votre compte n'est pas apparu dans une faille de sécurité.<br>
                Restez néanmoins vigilant et assurez-vous d'avoir un mot de passe complexe et différent sur tous les sites que vous utilisez.
            </div>
        </div>
    {% elseif response.statusCode|default and response.statusCode == 429 %}
        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-3 icon-message" role="img" aria-label="Warning:">
                <use xlink:href="#exclamation-triangle-fill"></use>
            </svg>
            <div class="text-dark scan-alert">
                La limite de demande a été atteinte.<br>
                Vous pourrez réessayer dans {{ response.second }} secondes.
            </div>
        </div>
    {% elseif response.statusCode|default and response.statusCode == 999 %}
        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-3 icon-message" role="img" aria-label="Warning:">
                <use xlink:href="#exclamation-triangle-fill"></use>
            </svg>
            <div class="text-dark scan-info">
                L'adresse email saisi n'est pas valide, veuillez recommencer.<br>
            <span class="text-decoration-underline fw-bold">Motif</span> : {{ response.message }}
            </div>
        </div>
    {% endif %}
{% endblock %}