{% extends 'base.html.twig' %}
{% form_theme form 'form/_form_errors.html.twig' %}

{% block title %}Analyser mon mot de passe - Data Breach Checker{% endblock %}

{% block passwordContent %}
    {{ form_start(form, { 'attr' : { 'class' : 'form-detail', 'novalidate' : 'novalidate'}}) }}
    <div class="form-row">
        <label class="form-row-inner">
            {{ form_widget(form.password, { 'attr' : { 'class' : 'input-text'}}) }}
            <span class="label">Mot de passe</span>
            <span class="border"></span>
            {{ form_errors(form.password) }}
        </label>
    </div>
    <div class="form-row-last">
        <input type="submit" name="check_password" class="register" value="Vérifier">
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block scanPasswordResult %}
    {% if response.statusCode is defined %}
        {% if response.statusCode == 200 %}
            <div class="row mb-3">
                <div class="col-12">
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-3 icon-message" role="img" aria-label="Warning:">
                            <use xlink:href="#exclamation-triangle-fill"></use>
                        </svg>
                        <div class="text-dark scan-alert">
                            Votre mot de passe a été révélé dans une fuite de données.<br>
                            Il est apparu <b>{{ response.message }}</b> fois et ne doit plus jamais être utilisé.<br>
                            Nous vous invitons à le changer rapidement sur tous les sites où celui-ci est présent.<br>
                            Votre nouveau mot de passe doit avoir au minimum 8 caractères, avec des minuscules, majuscules,
                            aux moins un chiffre et un caractère spécial comme !, @, etc.
                        </div>
                    </div>
                </div>
            </div>
        {% elseif response.statusCode == 404 %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-3 icon-message" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill"></use>
                </svg>
                <div class="text-dark scan-success">
                    Bonne nouvelle votre mot de passe n'a pas été compromis.<br>
                    Restez néanmoins vigilant et assurez-vous d'avoir un mot de passe complexe et différent sur tous les sites que vous utilisez.
                </div>
            </div>
        {% elseif response.statusCode == 429 %}
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-3 icon-message" role="img" aria-label="Warning:">
                    <use xlink:href="#exclamation-triangle-fill"></use>
                </svg>
                <div class="text-dark scan-alert">
                    La limite de demande a été atteinte.<br>
                    Vous pourrez réessayer dans {{ response.second }} secondes.
                </div>
            </div>
        {% elseif response.statusCode == 999 %}
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-3 icon-message" role="img" aria-label="Warning:">
                    <use xlink:href="#exclamation-triangle-fill"></use>
                </svg>
                <div class="text-dark scan-info">
                    Le mot de passe saisi n'est pas valide, veuillez recommencer.<br>
                    {{ response.message }}
                </div>
            </div>
        {% elseif response.statusCode == 0 %}
            <div class="alert alert-info d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-3 icon-message" role="img" aria-label="Warning:">
                    <use xlink:href="#exclamation-triangle-fill"></use>
                </svg>
                <div class="text-dark scan-info">
                    Nous sommes désolé, mais la base de données est temporairement inaccessible.<br>
                    Veuillez réessayer ultérieurement.
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}